/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }

/*  Elementos generales  */
.no-select{
	-webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
}

.separator{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
	height: 1px;
	background-color: #193145;
}

.page-content{
	position: relative;
	width: 100%;
	min-height: 50vh;
	margin: 5% 0;
}
.no-margin-top{
	margin-top: 0px;
}

.icon{
	position: relative;
	width: 30px;
	height: 30px;
	.tag-icon{
		position: absolute;
		top: -5px;
		right: 0px;
		height: 20px;
		display: none;
		border: 1px solid black;
		p{
			position: absolute;
			padding: 0px 5px;
		}
	}
	svg{
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.slider{
	position: relative;
	.slider-container{
		position: absolute;
		width: 100%;
		height: 100%;
		.slide{
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.active{
			opacity: 1;
		}
	}
	.slider-controller{
		position: absolute;
		width: 100%;
		height: 100%;
		.prev-button, .next-button{
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 30px;
			height: 30px;
			cursor: pointer;
			svg{
				position: relative;
				width: 100%;
				height: 100%;
				fill: #7e9ab8;
			}
			svg:hover{
				fill: white;
			}
		}
		.prev-button{
			left: 5%;
		}
		.next-button{
			right: 5%;
		}
	}
	.slider-content{
		position: absolute;
		bottom: 10%;
		left: 8%;
		width: 60%;
		p{
			position: relative;
			font-size: 3.5rem;
			color: white;
		}
	}
}

.title-page{
	position: relative;
	margin-bottom: 3%;
	p{
		text-align: center;
		font-size: 2.5rem;
		line-height: 3rem;
		color: #193145; 
	}
}

/* Tamaños del ancho */
.big-width{
	width: 100%;
}

/* solo para footer y header */
.medium-width{ 
	width: 92%;
	margin-right: 4%;
	margin-left: 4%;
}

.small-width{
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
}


/*  Header  */
header{
	position: relative;
	width: 100%;
	border-bottom: 3px solid #7e9ab8;
	.header-wrapper{
		position: relative;

		margin-top: 20px;
		padding-bottom: 10px;
		overflow: hidden;
		a{
			position: relative;
			text-decoration: none;
			.logo-container{
				position: relative;
				width: 240px;
				height: 60px;
				margin-right: 50px;
				float: left;
				cursor: pointer;
				img{
					position: relative;
					width: 100%;
					height: 100%;
				}
			}
		}
		.links-container{
			position: relative;
			margin-top: 30px;
			margin-right: 50px;
			height: 30px;
			box-sizing: border-box;
			float: left;
			ul{
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);		
				overflow: hidden;
				li{
					float: left;
					text-decoration: none;
					a{
						text-decoration: none;
						cursor: pointer;
						color: #7e9ab8;
						padding: 0 10px;
					}
					a:hover{
						color: #193145;
					}
				}
				li:last-child{
					margin-left: 30px;
				}
			}
		}
		.booking-container{
			position: relative;
			height: 30px;
			margin-top: 30px;
			float: right;
			.booking-phrase{
				position: relative;
				margin-right: 20px;
				font-size: 1rem;
				color: #7e9ab8;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				float: left;
			}
			.date-input{
				position: relative;
				width: 110px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				height: 20px;
				border: 1px solid #7e9ab8;
				border-radius: 20px;
				box-sizing: border-box;
				float: left;
			}
			.date-input::-webkit-inner-spin-button{
				display: none;
			}
			.date-input::-webkit-datetime-edit-month-field,
			.date-input::-webkit-datetime-edit-day-field,
			.date-input::-webkit-datetime-edit-year-field{
				color: #7e9ab8;
			}
			.date-input::-webkit-calendar-picker-indicator { 
				color: #7e9ab8;
			}
			.calendar-icon{
				position: relative;
				width: 30px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				height: 20px;
				float: left;
				cursor: pointer;
				svg{
					position: relative;
					width: 100%;
					height: 100%;
				}
			}
			.booking-button{
				position: relative;
				width: 80px;
				height: 20px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				border: 1px solid #7e9ab8;
				border-radius: 20px;
				box-sizing: border-box;
				float: left;
				cursor: pointer;
				p{
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translateY(-50%) translateX(-50%);
					-moz-transform: translateY(-50%) translateX(-50%);
					-ms-transform: translateY(-50%) translateX(-50%);
					-o-transform: translateY(-50%) translateX(-50%);
					transform: translateY(-50%) translateX(-50%);
					font-size: 1rem;
					color: #7e9ab8;
				}
			}
			.booking-button:hover{
				border: 1px solid #193145;
			}
		}
		.lenguage-container{
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 5px 8px;
			border: 1px solid #7e9ab8;
			border-radius: 20px;
			cursor: pointer;
			p{
				color: #193145;
				font-size: 0.8rem;
			}
		}
	}
}


/******Páginas******/
/*  Index page  */
.index-page{
	.slider{
		width: 100%;
		height: 35vw;
	}
	.last-offers{
		position: relative;
		padding-top: 5%;
		.title{
			position: relative;
			font-size: 2rem;
			color: #193145;
			margin-bottom: 30px;
		}
		.offer-cards-container{
			position: relative;
			width: 100%;
			overflow: hidden;
			.offer-card-container{
				position: relative;
				float: left;
				width: 48%;
				margin-right: 4%;
				.photo-container{
					position: relative;
					width: 100%;
					height: 250px;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					.discount{
						position: absolute;
						top: 0px;
						right: 0px;
						width: 40px;
						height: 20;
						background-color: rgba(255,255,255,0.5);
						padding: 5px;
						p{
							position: absolute;
							top: 50%;
							left: 50%;
							color: #193145;
							-webkit-transform: translateY(-50%) translateX(-50%);
							-moz-transform: translateY(-50%) translateX(-50%);
							-ms-transform: translateY(-50%) translateX(-50%);
							-o-transform: translateY(-50%) translateX(-50%);
							transform: translateY(-50%) translateX(-50%);
						}
					}
				}
				.title{
					position: relative;
					font-size: 1.5rem;
					color: #193145;
					margin: 15px 0;
					padding-right: 5%;
				}
				.description{
					position: relative;
					font-size: 1.2rem;
					color: #193145;
					margin-bottom: 15px;
					padding-right: 5%;
				}
				.price-button{
					position: relative;
					padding: 5px;
					width: 70px;
					cursor: pointer;
					border: 1px solid #193145;
					border-radius: 20px; 
					p{
						position: relative;
						font-size: 1rem;
						color: #193145;
					}
				}
			}
			.offer-card-container:nth-child(2n){
				margin-right: 0px;
			}
		}
	}
}

/* About us */
.aboutus-page{
	.top-photo{
		position: relative;
		height: 25vw;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.wellcome-container{
		position: relative;
		margin-top: 5%;
		margin-bottom: 4%;
		.title{
			position: relative;
			margin-bottom: 30px;
			font-size: 2rem;
			color: #193145;
		}
		.description{
			position: relative;
			margin-bottom: 20px;
			font-size: 1.2rem;
			color: #193145;
		}
		.description:last-child{
			margin-bottom: 0px;
		}
	}
	.direction-container{
		position: relative;
		/*margin-bottom: 5%;*/
		.title{
			position: relative;
			margin-bottom: 30px;
			font-size: 2rem;
			color: #193145;
			text-align: center;
		}
		.direction{
			position: relative;
			margin: 0 auto;
			font-size: 1.2rem;
			color: #193145;
			margin-bottom: 20px;
			.bigger-txt{
				font-size: 1.4rem;
				color: #193145;
			}
		}
		.map-container{
			position: relative;
			width: 100%;
			height: 25vw;
			iframe{
				position: relative;
				width: 100%;
				height: 100%;
			}
		}
		.contact-container{
			position: relative;
			margin-top: 20px;
			overflow: hidden;
			.tel{
				float: left;
			}
			.email{
				float: right;
			}
			p{
				font-size: 1.2rem;
				color: #193145;
				.bigger-txt{
					font-size: 1.3rem;
					color: #193145;
				}
			}
		}
	}
}

/* F.A.Q. page */
.faq-page{
	.searcher{
		position: relative;
		width: 30%;
		height: 25px;
		margin: 0 auto;
		margin-bottom: 4%;
		overflow: hidden;
		.searcher-input{
			position: relative;
			width: 80%;
			float: left;
			height: 100%;
			margin-right: 3%;
			border: 1px solid #193145;
			border-radius: 20px;
			padding: 5px 30px;
			color: #193145;
		}
		.searcher-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		    color: #9cb8d5;
		}
		::-moz-placeholder { /* Firefox 19+ */
		    color: #9cb8d5;
		}
		:-ms-input-placeholder { /* IE 10+ */
		    color: #9cb8d5;
		}
		.searcher-button{
			position: relative;
			float: left;
			width: 15%;
			cursor: pointer;
			height: 100%;
			border: 1px solid #193145;
			border-radius: 20px;
			box-sizing: border-box;
			p{
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-ms-transform: translateX(-50%) translateY(-50%);
				-o-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
				color: #193145;
				font-size: 0.8rem;
			}
		}
		.searcher-button:hover{
			background-color: lighten(#9cb8d5,20%);
		}
		svg{
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			left: 10px;
			width: 15px;
			height: 15px;
			fill: #9cb8d5;
		}
	}
	.questions-container{
		position: relative;
		.question-container{
			position: relative;
			width: 100%;
			margin-bottom: 30px;
			overflow: hidden;
			.question{
				position: relative;
				width: 47%;
				margin-right: 6%;
				float: left; 
				text-align: right;
				font-size: 1.4rem;
				color: #476484;
			}
			.answer{
				position: relative;
				width: 47%;
				float: left;
				text-align: left;
				font-size: 1.2rem;
				color: #7e9ab8;
			}
		}
		.question-container:last-child{
			margin-bottom: 0px;
		}
	}
}

/* Contacto */
.contact-page{
	.form-slider{
		position: relative;
		width: 60%;
		margin: 0 auto;
		.form-slider-container{
			position: relative;
			width: 100%;
			height: 65px;
			margin-bottom: 30px;
			.form-slider-page{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				display: none;
				opacity: 0;
				.row-form{
					position: relative;
					width: 100%;
					margin-bottom: 15px;
					overflow: hidden;
					.label{
						position: relative;
						width: 38%;
						margin-right: 2%;
						float: left;

						p{
							text-align: right;
							font-size: 1.2rem;
							color: #193145;
						}
					}
					.input{
						position: relative;
						width: 60%;
						float: left;
						.input-text{
							position: relative;
							width: 100%;
							height: 25px;
							border: 1px solid #193145;
							border-radius: 20px;
							padding: 0 10px;
						}
						.input-text-area{
							position: relative;
							resize: none;
							width: 100%;
							height: 60px;
							border: 1px solid #193145;
							border-radius: 20px;
							padding: 10px;
						}
					}
				}
				.row-form:last-child{
					margin-bottom: 0px;
				}
			}
		}
		.conditions-container{
			position: relative;
			width: 100%;
			margin-bottom: 30px;
			display: none;
			.condition-container{
				position: relative;
				width: 100%;
				margin-bottom: 10px;
				overflow: hidden;
				input{
					position: relative;
					width: 5%;
					height: 20px;
					border: 1px solid red;
					border-radius: 20px;
					box-sizing: border-box;
					float: left;
				}
				p{
					position: relative;
					width: 94%;
					float: left;
					color: #193145;
				}
			}
		}
		.buttons{
			position: relative;
			width: 100%;
			overflow: hidden;
			.prev-button{
				position: relative;
				border: 1px solid #193145;
				border-radius: 20px;
				box-sizing: border-box;
				margin-right: 30px;
				float: right;
				display: none;
				cursor: pointer;
				p{
					position: relative;
					padding: 0 10px;
				}
			}
			.next-button{
				position: relative;
				border: 1px solid #193145;
				border-radius: 20px;
				box-sizing: border-box;
				float: right;
				cursor: pointer;
				p{
					position: relative;
					padding: 0 10px;
				}
			}
		}

	}
}

/* Services page */
.main-services-page{
	.container{
		.card-container{
			position: relative;
			overflow: hidden;
			float: left;

			.photo-container{

			}
			.title{

			}
			.description{

			}
		}
	}
	.go-to-valuations-button{
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 230px;
		margin-top: 50px;
		border: 1px solid #193145;
		.icon{
			float: left;
			position: relative;
			margin-top: 10px;
			margin-left: 10px;
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 10px;

			height: 30px;
			width: 30px;
			cursor: pointer;
			svg{
				position: relative;
				width: 100%;
				height: 100%;
			}
		}
		p{
			float: left;
			padding-left: 10px;
			padding-top: 15px;
			text-align: center;
			position: relative;
			font-size: 1rem;
			color: #193145;
		}
	}

}

.facilities-page{

}

.activities-page{
	
}

.booking-page{


}

.payment-page{

}

.offers-page{

}

.rooms-page{
	.rooms-cards-container{
		position: relative;
		overflow: hidden;
		.room-card-container{
			position: relative;
			height: 300px;
			padding-bottom: 100px;
			.photo-container{
				position: relative;
				float: left;
				width: 48%;
				margin-right: 4%;
				height: 100%;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.title{
				width: 48%;
				position: relative;
				float: left;
				font-size: 1.5rem;
				color: #193145;
				margin-bottom: 10px;

			}
			.description{
				float: left;
				width: 48%;
				position: relative;
				font-size: 1.2rem;
				color: #193145;
			}
			.icon-line{
				float: left;
				width: 48%;
				position: relative;

				.valuations-button{
					float: left;
					position: relative;
					margin-top: 20px;
					padding: 5px;
					cursor: pointer;
					border: 1px solid #193145;
					border-radius: 20px;
					p{
						text-align: center;

						position: relative;
						font-size: 1rem;
						color: #193145;
					}
				}
				.icon{
					float: left;
					position: relative;
					margin-top: 20px;
					margin-left: 10px;
					padding-left: 5px;
					padding-right: 5px;

					height: 30px;
					width: 30px;
					cursor: pointer;
					svg{
						position: relative;
						width: 100%;
						height: 100%;
					}
				}
				.info-button{
					float: left;
					margin-top: 20px;
					position: relative;
					padding: 5px;
					width: 70px;
					cursor: pointer;
					border: 1px solid #193145;
					border-radius: 20px;
					p{
						text-align: center;

						position: relative;
						font-size: 1rem;
						color: #193145;
					}
				}
				.booking-button{
					margin-top: 20px;
					float: left;
					position: relative;
					padding: 5px;
					margin-left: 10px;
					width: 70px;
					cursor: pointer;
					border: 1px solid #193145;
					border-radius: 20px;
					p{
						text-align: center;
						position: relative;
						font-size: 1rem;
						color: #193145;
					}
				}

			}







		}

	}
	.go-to-valuations-button{
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 230px;
		margin-top: 50px;
		border: 1px solid #193145;
		.icon{
				float: left;
				position: relative;
				margin-top: 10px;
				margin-left: 10px;
				padding-left: 5px;
				padding-right: 5px;
				padding-bottom: 10px;

				height: 30px;
				width: 30px;
				cursor: pointer;
				svg{
					position: relative;
					width: 100%;
					height: 100%;
				}
		}
			p{
				float: left;
				padding-left: 10px;
				padding-top: 15px;
				text-align: center;
				position: relative;
				font-size: 1rem;
				color: #193145;
			}
		}

}

.single-room-page{
	.single-room-card-container{
		position: relative;
		overflow: hidden;
		margin-bottom: 50px;
		.room-slider{
			height: 400px;
			margin-bottom: 30px;
		}
		.description{
			float: left;
			width: 60%;
			position: relative;
			font-size: 1.2rem;
			color: #193145;
			margin-right: 20px;
		}
		.icon-line{
			float: left;
			width: 20%;
			position: relative;
			.icon{
				float: left;
				position: relative;
				margin-top: 10px;
				margin-left: 10px;
				padding-left: 5px;
				padding-right: 5px;
				padding-bottom: 10px;

				height: 30px;
				width: 30px;
				cursor: pointer;
				svg{
					position: relative;
					width: 100%;
					height: 100%;
				}
			}
			.booking-button{
				margin-top: 20px;
				float: left;
				position: relative;
				padding: 5px;
				margin-left: 10px;
				width: 70px;
				cursor: pointer;
				border: 1px solid #193145;
				p{
					text-align: center;
					position: relative;
					font-size: 1rem;
					color: #193145;
				}
			}
		}

	}
	.go-to-valuations-button{
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 230px;
		margin-top: 50px;
		border: 1px solid #193145;
		.icon{
			float: left;
			position: relative;
			margin-top: 10px;
			margin-left: 10px;
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 10px;

			height: 30px;
			width: 30px;
			cursor: pointer;
			svg{
				position: relative;
				width: 100%;
				height: 100%;
			}
		}
		p{
			float: left;
			padding-left: 10px;
			padding-top: 15px;
			text-align: center;
			position: relative;
			font-size: 1rem;
			color: #193145;
		}
	}

}

.valuations-page{

}


/*  Footer   */
footer{
	position: relative;
	width: 100%;
	border-top: 3px solid #7e9ab8;
	.footer-wrapper{
		position: relative;
		margin-top: 60px;
		margin-bottom: 30px;
		overflow: hidden;
		.contact-container{
			position: relative;
			width: 20%;
			margin-right: 3%;
			float: left;
			.title{
				position: relative;
				text-transform: uppercase;
				font-size: 1.1rem;
				margin-bottom: 15px;
				color: #193145;
			}
			.address, .telephone, .email{
				position: relative;
				font-size: 1rem;
				color: #476484;
				line-height: 1.5rem;
				span:hover{
					color: #193145;
				}
			}
			.address, .email span{
				cursor: pointer;
			}
			.address:hover{
				color: #193145;
			}
			.email span:hover{
				color: #193145;
			}
		}
		.time-container{
			position: relative;
			width: 20%;
			float: left;
			.title{
				position: relative;
				text-transform: uppercase;
				font-size: 1.1rem;
				color: #193145;
				margin-bottom: 15px;
			}
			.time, .hour{
				overflow: hidden;
				margin-bottom: 10px;
				p{
					font-size: 1rem;
					color: #476484;
					float: left;
					margin-top: 7px;
					margin-left: 10px;
				}
				svg{
					position: relative;
					width: 30px;
					height: 30px;
					float: left;
				}
			}
			.hour{
				margin-bottom: 0px;
				svg{
					width: 28px;
					height: 28px;
				}
			}
		}
		.social-copyright-container{
			position: absolute;
			bottom: 0px;
			right: 0px;
			width: 300px;
			overflow: hidden;
			.social{
				position: relative;
				float: right;
				margin-bottom: 15px;
				svg{
					position: relative;
					float: left;
					width: 25px;
					height: 25px;
					margin-right: 15px;
					cursor: pointer;
				}
				svg:last-child{
					margin-right: 0px;
				}
			}
			.copyright{
				position: relative;
				float: right;
				p{
					position: relative;
					font-size: 0.8rem;
					color: #476484;
				}
			}

		}
	}
}