/* Coolors Exported Palette - coolors.co/9cb8d5-7e9ab9-193145-476484-d8e8f8 */

/* HSL */
$color1: hsla(211%, 40%, 72%, 1);
$color2: hsla(212%, 30%, 61%, 1);
$color3: hsla(207%, 47%, 18%, 1);
$color4: hsla(211%, 30%, 40%, 1);
$color5: hsla(210%, 70%, 91%, 1);

/* RGB */
$color1: rgba(156, 184, 213, 1);
$color2: rgba(126, 154, 185, 1);
$color3: rgba(25, 49, 69, 1);
$color4: rgba(71, 100, 132, 1);
$color5: rgba(216, 232, 248, 1);